* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.about-section {
    padding: 50px;
    background-color: #fff;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about-content {
    flex: 1;
    padding: 20px;
}

.about-content h2 {
    color: #333;
    margin-bottom: 15px;
}

.about-content p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}


.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* media qury bnana hai */